%h1 Summary
.infoBox.summary
  %h2 General
  %table
    %tr
      %td Applications
      %td
        %ul
          -@control["status"][0]["applications"].each do |application|
            %li=application
    %tr
      %td Nodes
      %td
        %ul
          -@control["status"][0]["nodes"].each do |node|
            %li=node
    %tr
      %td Running Nodes
      %td
        %ul
          -@control["status"][0]["running_nodes"].each do |node|
            %li=node

.infoBox
  %h2 Queues
  %table
    %tr
      %td #
      %td Name
      %td Options
    -@queues.each do |queue|
      %tr{:class => "#{class_for_queue(queue)}"}
        %td
          #{queue["messages"]}
        %td
          %a{:href => "queues/#{queue["name"]}"}
            #{queue["name"]}
        %td
          %a{:href => "/queues/#{queue["name"]}"}
            %img{:src => "img/magnifier.png", :alt => "purge queue #{queue["name"]}"}
          %a{:href => "/queues/#{queue["name"]}/delete", :class => "ask"}
            %img{:src => "img/delete.png", :alt => "delete queue #{queue["name"]}"}
          %a{:href => "/queues/#{queue["name"]}/purge", :class => "ask"}
            %img{:src => "img/bin_closed.png", :alt => "purge queue #{queue["name"]}"}
