%h1 Summary
.status
  %h2 General
  %table
    %tr
      %td Applications
      %td
        %ul
          -@status["running_applications"].each do |application|
            %li
              %strong=application[0]
              %br
              ="#{application[1]} - #{application[2]}"
    %tr
      %td Nodes
      %td
        %ul
          -@status["nodes"].each do |node|
            %li=node
    %tr
      %td Running Nodes
      %td
        %ul
          -@status["running_nodes"].each do |node|
            %li=node

.status
  %h2 Queues
  %table
    %tr
      %td Queues:
      %td
        %ul
          -@queues.each do |queue|
            %li(class="#{class_for_queue(queue)}")
              %a(href="/queues/#{queue["name"]}/delete" class="ask")
                %img(src="img/action_stop.gif" title="delete")
              #{queue["name"]} (#{queue["messages"]}/#{@message_threshold || 0})
