%h1 Summary
.status
  %h2 General
  %table
    %tr
      %td Applications
      %td
        %ul
          -@control["status"][0]["applications"].each do |application|
            %li=application
    %tr
      %td Nodes
      %td
        %ul
          -@control["status"][0]["nodes"].each do |node|
            %li=node
    %tr
      %td Running Nodes
      %td
        %ul
          -@control["status"][0]["running_nodes"].each do |node|
            %li=node

.status
  %h2 Queues
  %table
    %tr
      %td Queues:
      %td
        %ul
          -@queues.each do |queue|
            %li(class="#{class_for_queue(queue)}")
              #{queue["name"]} ( #{queue["messages"]}/#{queue_config[queue["name"]]} )
              %a(href="/queues/#{queue["name"]}/delete" class="ask") delete